body{
    background-color: lightblue;

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
   
}

#paragraph2{
    border: 4px solid green;
    background-color: white;
    padding: 20px 30px;
    width: 50%;
    line-height: 1.6;
    margin: 55px;
}

.blue {
    background-color: darkblue;
    border:3px solid black;
    color: white;
    width: 97%;
    padding: 20px;
}

ol {
    list-style-type: decimal-leading-zero;
}
::marker{
    font-size: x-large;
}

table, th, td {
    border: 1px solid black;
}

th{
    background-color: lightgray;
}
td{
    height: 25px;
    padding:10px;
    background-color:white;

}
table{
    border-collapse: collapse;
}


p a{
    color: brown;
}

}






